.popPush {
    color: white;
    font-weight: lighter;
    .backgroundTop {
        background-image: url(../../../assets/img/admaven-background-new.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 150%;

        .context {
            .title {
                font-size: 34px;
                font-weight: normal;
    
                &__1 {
                    color: #54ffc1;
                    font-weight: 700;
                }
                &__sub {
                    font-weight: inherit;
                    margin: 55px auto;
                }
            }

            .points {
                ul {
                    font-size: 20px;
                    line-height: 1.5;
                    font-weight: 500
                }
            }
        }
    }
}