.popPush {
    color: white;
    font-weight: lighter;
    .backgroundTop {
        background-image: url(../../../assets/img/admaven-background-new.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 150%;

        .context {
            .title {
                font-size: 34px;
                font-weight: normal;
    
                &__1 {
                    color: #54ffc1;
                    font-weight: 700;
                }
                &__sub {
                    font-weight: inherit;
                    margin: 55px auto;
                }
            }

            .points {
                ul {
                    font-size: 20px;
                    line-height: 1.5;
                    font-weight: 500
                }
            }
        }
    }
    .middlePart {
        color: grey;
        font-size: 25px;
        font-weight: 600;
        text-align: center;

        & > p:first-child {
            font-size: 45px;
            transform: translateX(-330px);
            margin-top: 20px;
        }
        & > p:nth-child(2) {
            font-style: italic;
            margin: 20px auto;
        }
        & > div {
            font-weight: lighter;

            div {
                font-size: 30px;
                animation: upDown 1s infinite;
            }
        }
    }
}


@keyframes upDown {
    0% {transform: translateY(0)}
    50% {transform: translateY(4px)}
    100% {transform: translateY(0)}
}