.template {
    opacity: 0;
    animation: fadeIn .7s .4s forwards;
    .container {
        padding: 40px 15%;

        .logo {
            margin-bottom: 35px;
        }
    }

    .first {
        width: 100%;
        min-height: 680px;

        .wrapper {
            display: flex;
            justify-content: space-between;

            .form {
                color: black;
                width: 760px;
                height: 580px;
                background: white;
                margin: 0 60px;
                transform: translateY(-30px)
            }
        }
    }

    .margin-top-md {
        margin-top: 30px
    }
}