@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap');
@import './components/template/styles/tamplate.scss';
@import './components/pop-push/popPush.scss';
@import './components/formTypes/form.scss';


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


// ANIMATIONS

@keyframes upDown {
    0% {transform: translateY(0)}
    50% {transform: translateY(4px)}
    100% {transform: translateY(0)}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


